@{
    Layout = "views/shared/_layout.cshtml";
}

<div class="container" id="sriracha-app"></div>

@section Scripts
{
    @Html.Raw(Scripts.Render("~/sriracha-app/templates").ToHtmlString())
    @Html.Raw(Scripts.Render("~/sriracha-app/scripts").ToHtmlString())
}

