@{
    Layout = "views/shared/_layout.cshtml";
}

<h3>hello there @this.Context.CurrentUser.UserName ... @DateTime.Now</h3>
<div class="container" id="sriracha-app"></div>

<script type="text/x-handlebars" data-template-name="application">
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="index">
    <ul>
        {{#link-to "project"}}Projects{{/link-to}}
    </ul>
</script>

<script type="text/x-handlebars" data-template-name="project">
    <h2>Projects</h2>
    {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="project/index">
    <h3>Project List</h3>
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Project Name</th>
            </tr>
            {{#each project in this}}
            <tr>
                <td>{{#link-to "project.view" project.id}}{{project.projectName}}{{/link-to}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{#link-to "project.create"}}Create Project{{/link-to}}
</script>


<script type="text/x-handlebars" data-template-name="project/create">
    <h3>Create Project</h3>
    <form class="form-horizontal" {{action "saveProject" on="submit"}}>
        <div class="form-group">
            {{#if errorMessage}}
                <div class="alert alert-danger">{{errorMessage}}</div>
            {{/if}}
            <label class="col-md-2 control-label" for="UserName">Project Name</label>
            <div class="col-md-10">
                {{input value=projectName class="form-control" required="required"}}
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="save" class="btn btn-success" />
        </div>
    </form>
</script>

<script type="text/x-handlebars" data-template-name="project/view">
    <h3>{{model.projectName}}</h3>
</script>


@section Scripts
{
    <script src="~/content/scripts/sriracha-app.js"></script>
}