@{
    Layout = "views/shared/_layout.cshtml";
}

<div class="container" id="sriracha-app"></div>

@section Scripts
{
    @Html.Raw(SquishIt.Framework.Bundle.JavaScript().RenderNamed("sriracha-app-templates"))
    @Html.Raw(SquishIt.Framework.Bundle.JavaScript().RenderNamed("sriracha-app-scripts").ToString())

}

