@{
    Layout = "views/shared/_layout.cshtml";
}

<form method="post">
    <h1>Login</h1>
    @if (@Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <h3>
            <div style="background-color:red">@Model.ErrorMessage</div>
        </h3>
    }
    <table>
        <tr>
            <td>User Name:</td>
            <td><input type="text" name="userName" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button type="submit">Do It</button>
            </td>
        </tr>
    </table>
</form>